<%= render "layouts/notice", notice: notice %>
<h1>Your Line Items</h1>
  <table id="userLineItems">
    <thead>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Created At</th>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <% order.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.product.title %></td>
          <td><%= line_item.quantity %></td>
          <td><%= number_to_currency(line_item.product.price) %></td>
          <td><%= distance_of_time_in_words_to_now(line_item.created_at) %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
