<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent Category</th>
      <th>Products Count</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, admin_category_books_path(category) %></td>
        <% if category.category %>
          <td><%= category.category.name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= category.products_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
